NEXT_PUBLIC_SUPABASE_URL=https://ocuvpzckyghuoohqufqb.supabase.co/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jdXZwemNreWdodW9vaHF1ZnFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTY3NDM2OTEsImV4cCI6MjAzMjMxOTY5MX0.C5c4iLqc7U8yIhEpUnL5uYMw5MSIbRH3rD-Noi-8pVQ